<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="PHP Apple Push Notification Service Test Suite">
            <directory suffix="Test.php">./tests/JWage/APNS/Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/JWage/APNS/</directory>
        </whitelist>
    </filter>
</phpunit>
